
body {
    font-family: sans-serif;
    background: rgb(0, 0, 110);
    margin: 0;
}

.url-form {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
}

.url-enter-field {
    padding: 15px;
    border-radius: 10px;
    background: white;
    box-shadow: none;
    border: none;
}

.url-submit {
    padding: 15px;
    border-radius: 10px;
    background: red;
    box-shadow: none;
    border: none;
}

#errordisplay {
    position: fixed;
    background: red;
    padding: 20px;
    color: white;
    user-select: none;
    width: 100%;
    text-align: center;
    margin: 0;
}

#errorgoaway {
    cursor: pointer;
}